body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fdf5f1;
    color: #333;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: #f7e1d7;
    padding: 20px 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

header .logo {
    height: 40px;
}

.nav-search-container {
    display: flex;
    justify-content: flex-end;  
    align-items: right;
    width: 100%;
}

.navbar {
    display: flex;
    list-style: none;
    margin-right: 20px;  
}

.navbar li {
    margin-left: 20px;
}

.navbar li a.active {
    color: #d99379;
}

.search-bar {
    display: flex;
    gap: 10px;
    justify-content: flex-end;  
}

.search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    padding: 5px 10px;
    background-color: #d99379;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.hero {
    background-color: #f7e1d7;
    text-align: center;
    padding: 50px 0;
    border-radius: 15px;
    margin: 20px 0;
}

.hero h1 {
    font-size: 2.5rem;
    color: #d99379;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
    color: #555;
}

.hero .btn {
    text-decoration: none;
    color: #fff;
    background-color: #d99379;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.features {
    margin: 50px 0;
    text-align: center;
}

.features h2 {
    color: #d99379;
}

.feature-item {
    margin: 20px 0;
}

footer {
    background-color: #f7e1d7;
    text-align: center;
    padding: 20px;
}

.footer-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 0;
}

.footer-nav li a {
    text-decoration: none;
    color: #333;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;  
    }

    .navbar {
        margin-right: 0;
        margin-top: 10px;
        justify-content: flex-start; 
        width: 100%;
    }

    .search-bar {
        margin-top: 10px;
        width: 100%;
        justify-content: flex-end; 
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .hero .btn {
        padding: 8px 16px;
    }
}